.pacotes {
    background: var(--laranja-degrade);
    width: 100%;
    padding: 1em 0em;
    text-align: center;
    margin-top: 0.5em;
}

.pacotes2 {
    background: var(--amarelo-degrade);
    width: 100%;
    padding: 1em 0;
    text-align: center;
    z-index: 2;
    margin-top: 0.5em;
}
.pacotes3 {
    background: var(--amarelo-claro-degrade);
    width: 100%;
    padding: 1em 0;
    text-align: center;
    z-index: 2;
    margin-top: 0.5em;
}
.pacotes4 {
    background: var(--esmeralda-degrade);
    width: 100%;
    padding: 1em 0;
    text-align: center;
    z-index: 2;
    margin-top: 0.5em;
}
.pacotes5 {
    background: var(--diamante-degrade);
    width: 100%;
    padding: 1em 0;
    text-align: center;
    z-index: 2;
    margin-top: 0.5em;
}

.pacotes__titulo{
    text-align: center;
    font-size: 36px;
    color: var(--branco-principal);
    padding: 0em 2.2em;
    line-height: 36px;
    font-weight: 700;
}

.pacotes__descrição{
    background-color: #DB6827;
    text-align: center;
    padding-top: 0.5em;

}

.pacotes__descrição2{
    background-color: #DB8727;
    text-align: center;
    padding: 0.5em 0.5em 1.5em 0.5em;

}
.pacotes__descrição3{
    background-color: #F08C1F;
    text-align: center;
    padding: 0.5em;

}

.pacotes__descrição4{
    background-color: #026920;
    text-align: center;
    padding: 0.5em 0.5em 1.5em 0.5em;

}
.pacotes__descrição5{
    background-color: #163063;
    text-align: center;
    padding: 0.5em 0.5em 1.5em 0.5em;

}

.pacotes-lista{
    padding: 0em 0 2em 0;
}
.pacotes-lista2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0 2em;
    gap: 0.3em;
}
.pacotes-titulo{
    color: #F0C41F;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.3em;
}
.pacotes-titulo2{
    color: #F0DE1F;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1em;
}
.pacotes-titulo3{
    color: #F0DE1F;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.2em;
}
.pacotes-titulo4{
    color: #02EB2C;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.2em;
}
.pacotes-titulo5{
    color: #09D9E0;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.pacotes-drinks-autorais{
    color: var(--branco-principal);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2em;
}

.rodapé-pacotes{
    color: var(--branco-principal);
    padding: 2em 1em;
    background: var(--laranja-degrade);
    text-align: center;

}

.rodapé-pacotes2{
    color: var(--branco-principal);
    padding: 2em 1em;
    background: var(--amarelo-degrade);
    text-align: center;

}
.rodapé-pacotes3{
    color: var(--branco-principal);
    padding: 2em 1em;
    background: var(--amarelo-claro-degrade);
    text-align: center;

}
.rodapé-pacotes4{
    color: var(--branco-principal);
    padding: 2em 1em;
    background: var(--esmeralda-degrade);
    text-align: center;

}
.rodapé-pacotes5{
    color: var(--branco-principal);
    padding: 2em 1em;
    background: var(--diamante-degrade);
    text-align: center;

}

.pacotes__descrição__titulo {
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.5em;

}

.botao__pacote{
    padding: 0.5em 0.5em;
    background: var(--marrom-degrade);
    text-decoration: none;
    color: var(--branco-principal);
    border-radius: 8px;

}

.pacotes-drinks{
    color: var(--branco-principal);
    padding: 0.5em;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.pacotes-drinks2{
    color: var(--branco-principal);
    padding: 0.5em;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.pacotes-drinks3{
    color: var(--branco-principal);
    padding: 0.5em;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

span{
    font-size: 14px;
    color: var(--branco-principal);
    font-weight: 700;
}

#pagination{
    background-color: transparent;
    margin: 0;
    padding: 0.3em;
}
.drinks-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em 2em;
    background: #F08C1F;
}
.foto-drink {
    width: 30%;
    border-radius: 8px;
    background: var(--laranja-claro);
}

@media screen and (min-width: 1024px) {
    .pacotes,
    .pacotes1,
    .pacotes2,
    .pacotes3,
    .pacotes4,
    .pacotes5
    {
        padding: 5em 0;
        
    }

    .pacotes__titulo {
        font-size: 42px;
    }

    .pacotes-titulo,
    .pacotes-titulo2,
    .pacotes-titulo3,
    .pacotes-titulo4,
    .pacotes-titulo5
    {
        margin: 2em 0 1em 0;
        font-size: 28px;
    }

    .pacotes-drinks,
    .pacotes-drinks3,
    .pacotes-drinks2
    {
        font-size: 24px;
        padding: 1em 1em;
    }

    .pacotes-drinks-autorais {
        font-size: 24px;
    }

    span {
        font-size: 20px;
    }



    .pacotes__descrição__titulo {
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 2em 0;
        padding: 0 2em;
    }

    .botao__pacote {
        font-size: 24px;

    }

    .pacotes-drinks3 {
        padding: 0 0.5;
        margin: 0;
    }

    .botao__pacote:hover{
        opacity: 0.8;

    }
}

@media screen and (min-width: 1728px) {
    .pacotes,
    .pacotes1,
    .pacotes2,
    .pacotes3,
    .pacotes4,
    .pacotes5
    {
        padding: 2em 0;
        
    }

    .pacotes__titulo {
        font-size: 36px;
    }

    .pacotes-titulo,
    .pacotes-titulo2,
    .pacotes-titulo3,
    .pacotes-titulo4,
    .pacotes-titulo5
    {
        margin-top: 1em;
        font-size: 28px;
    }

    .pacotes-drinks,
    .pacotes-drinks3,
    .pacotes-drinks2
    {
        font-size: 20px;
        padding: 0.5em 3em;
        margin-bottom: 2em;
    }

    .pacotes-drinks-autorais {
        font-size: 24px;
    }

    span {
        font-size: 20px;
    }

    .pacotes__descrição__titulo {
        font-size: 24px;
        line-height: 30px;
        padding: 0em;
    }

    .botao__pacote {
        font-size: 24px;

    }

    .pacotes-drinks3 {
        padding: 0 0.5em;
        margin: 0;
    }

    .pacotes-drinks2 {
        padding: 0 1em;
    }

    .pacotes-lista{
        padding: 0 6em;
        margin: 1em 2em;
    }

    .pacotes-lista2 {
        padding: 0 6em;
        margin: 0em 0em;
    }

    .foto-drink {
        width: 13%;
        margin: 0 1em;
    }
    .drinks-img{
        padding: 2em 15em;
    }

    .rodapé-pacotes,
    .rodapé-pacotes2,
    .rodapé-pacotes3,
    .rodapé-pacotes4,
    .rodapé-pacotes5 {
        padding: 2em 12em;
    } 

}
